@model WebApp.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Create";
}

<div class="card">
    <div class="card-header">
        Create Student
    </div>
    <form action="/admin/student/create" method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Enter Last Name">
            </div>
            <!-- select -->
            <div class="form-group">
                <label>Class</label>
                <select class="custom-select" name="ClassId">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="4">Three</option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>